/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

/* Estilo para o cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo do conteúdo */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo do texto */
.texto {
    width: 60%;
    padding: 10px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Divisão em colunas para o texto */
.texto p {
    text-align: justify;
    margin-bottom: 15px;
}

/* Estilo da imagem */
.imagem {
    width: 35%;
}

.imagem img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .texto, .imagem {
        width: 100%;
        margin-bottom: 20px;
    }
}
